.navbar-bg{
    background-color: var(--desaturated_blue) !important;
    border-radius: 15px;
    margin-bottom: 15px;
}
.nav_text_color{
    color: var(--slightly_transparent_white_one) !important;
    text-decoration: none;
    margin: 5px 20px 5px 4px;
}
.nav_text_color:hover{
    color: var(--soft_violet) !important;
}
.navbar-toggler{
    background-color: var(--soft_violet) !important;
} 

@media (min-width: 450px) {
    .navbar-bg{
        margin-bottom: 20px;
    }
}
@media (min-width: 800px) {
    .navbar-bg{
        margin-bottom: 40px;
    }
}