.randomBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1380px;
    
}
.randomBox .randomBoxItem{
    background-color: var(--soft_violet);
    border: 1px solid white;
    border-radius: 15px;
    width: 280px;
    height: 300px;
    padding: 10px;
}
.randomBox .randomBoxItem .reload_btn{
    background-color: var(--desaturated_blue);
    border-color: transparent;
    color: var(--slightly_transparent_white_one);
    padding: 4px;
    font-size: 0.7rem;
    
}
.loadingAnimation{
    color: var(--dark_blue);
}
.data_title{
    text-align: center;
}


@media (min-width: 450px) {
    .randomBox{
        gap: 15px;
    }
    .randomBox .randomBoxItem{
        width: 300px;
        height: 300px;
        padding: 13px;
    }
    
}

@media (min-width: 800px) {
    .randomBox .randomBoxItem{
        width: 380px;
        height: 380px;
        padding: 17px;
    }

}